html {
    font-family: 'Lato', Helvetica, sans-serif;
    font-style: normal;
    text-align: justify;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-width: 1020px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: 940px;
}

.header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: sticky;
    top: 0;
}

.logo {
    float: left;
    width: 120px;
    font-size: 25px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: 550;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
    padding-top: 37px;
}

.logo span {
    color: #F06C64;
    font-size: 20px;
    vertical-align: top;
}

nav {
    float: right;
}

.menu {
    float: left;
    padding: 1px 39px;
    margin-bottom: 0px;
}

.menu li {
    display: inline-block;
    padding: 24px 0px;
    border: 0;
    margin: 0;
    list-style: none;
}

.menu li::before {
    content: '•';
    font-size: 10px;
    color: #494e62;
    padding-right: 13.5px;
    padding-left: 8px;
}

.menu li:first-child::before {
    display: none;
    padding: 0px 0px;
}

.menu li a {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #f06c64;
}

.slider {
    display: flex;
    align-items: center;
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.horizontal-phone {
    display: inline-block;
    padding-bottom: 124px;
    margin-left: 70px;
    margin-right: 53px;
}

.horizontal-phone_off {
    display: none;
    padding-bottom: 124px;
    margin-left: 70px;
    margin-right: 53px;
}

.vertical-phone {
    display: inline-block;
    margin-left: 57px;
    margin-right: 0px;
}

.vertical-phone_off {
    display: none;
    margin-left: 57px;
    margin-right: 0px;
}

.slider2 {
    display: none;
    align-items: center;
    height: 600px;
    background-color: #648BF0;
    padding-top: 89px;
}

.slider2 .vertical-phone,
.slider2 .vertical-phone_off {
    display: none;
}

.slider2 .horizontal-phone,
.slider2 .horizontal-phone .horizontal-phone_off {
    display: none;
}

.chev-left {
    float: left;
    padding-top: 228px;
    text-decoration: none;
}

.slider2 .chev-left {
    display: none;
}

.chev-right {
    float: right;
    padding-top: 228px;
    text-decoration: none;
}

.slider2 .chev-right {
    display: none;
}

.our-services {
    height: 464px;
    background-color: #f2f2f2;
    padding-top: 30px;
    border-bottom: 6px solid #FFFFFF;
}

.our-services h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding-top: 13px;
}

.our-services p {
    width: 940px;
    height: 57px;
    font-size: 17.8px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    letter-spacing: -0.2px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11px;
}

.colum {
    display: flex;
    margin-left: 0px;
    width: 300px;
    height: 87px;
    margin-right: 20px;
    margin-bottom: 35px;
}

.colum:nth-child(3n) {
    margin-right: 0px;
}

.img-ellips {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #f2f2f2;
    border: 2px solid #666d89;
    margin-top: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.services h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 22px;
    word-spacing: 0.8px;
}

.services p {
    width: 219px;
    height: 54px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    padding-left: 20px;
    word-spacing: 0.95px;
}