html {
    font-family: 'Lato', Helvetica, sans-serif;
    font-style: normal;
    text-align: justify;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-width: 1020px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: 940px;
}

.header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: sticky;
    top: 0;
}

.logo {
    float: left;
    width: 120px;
    font-size: 25px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: 550;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
    padding-top: 37px;
}

.logo span {
    color: #F06C64;
    font-size: 20px;
    vertical-align: top;
}

nav {
    float: right;
}

.menu {
    float: left;
    padding: 1px 39px;
    margin-bottom: 0px;
}

.menu li {
    display: inline-block;
    padding: 24px 0px;
    border: 0;
    margin: 0;
    list-style: none;
}

.menu li::before {
    content: '•';
    font-size: 10px;
    color: #494e62;
    padding-right: 13.5px;
    padding-left: 8px;
}

.menu li:first-child::before {
    display: none;
    padding: 0px 0px;
}

.menu li a {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #f06c64;
}

.slider {
    display: flex;
    align-items: center;
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.horizontal-phone {
    display: inline-block;
    padding-bottom: 124px;
    margin-left: 70px;
    margin-right: 53px;
}

.horizontal-phone_off {
    display: none;
    padding-bottom: 124px;
    margin-left: 70px;
    margin-right: 53px;
}

.vertical-phone {
    display: inline-block;
    margin-left: 57px;
    margin-right: 0px;
}

.vertical-phone_off {
    display: none;
    margin-left: 57px;
    margin-right: 0px;
}

.slider2 {
    display: none;
    align-items: center;
    height: 600px;
    background-color: #648BF0;
    padding-top: 89px;
}

.slider2 .vertical-phone,
.slider2 .vertical-phone_off {
    display: none;
}

.slider2 .horizontal-phone,
.slider2 .horizontal-phone .horizontal-phone_off {
    display: none;
}

.chev-left {
    float: left;
    padding-top: 228px;
    text-decoration: none;
}

.slider2 .chev-left {
    display: none;
}

.chev-right {
    float: right;
    padding-top: 228px;
    text-decoration: none;
}

.slider2 .chev-right {
    display: none;
}

.our-services {
    height: 464px;
    background-color: #f2f2f2;
    padding-top: 30px;
    border-bottom: 6px solid #FFFFFF;
}

.our-services h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding-top: 13px;
}

.our-services p {
    width: 940px;
    height: 57px;
    font-size: 17.8px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    letter-spacing: -0.2px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11px;
}

.colum {
    display: flex;
    margin-left: 0px;
    width: 300px;
    height: 87px;
    margin-right: 20px;
    margin-bottom: 35px;
}

.colum:nth-child(3n) {
    margin-right: 0px;
}

.img-ellips {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #f2f2f2;
    border: 2px solid #666d89;
    margin-top: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.services h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 22px;
    word-spacing: 0.8px;
}

.services p {
    width: 219px;
    height: 54px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    padding-left: 20px;
    word-spacing: 0.95px;
}

.portfolio h2,
.about-us h2,
.about-us h3 {
    color: #666D89;
}

.portfolio h2,
.about-us h2 {
    font-size: 30px;
    line-height: 11px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 0.3px;
}

.about-us h3 {
    font-size: 19px;
    line-height: 18px;
    letter-spacing: -0.55px;
    font-weight: 760;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 19px;
}

.portfolio p,
.about-us p {
    color: #767E9E;
    font-size: 18px;
    line-height: 12px;
    letter-spacing: -0.34px;
    padding-top: 10px;
}

.about-us p {
    line-height: 30px;
    padding-top: 26px;
}

.portfolio {
    height: 860px;
    background-color: #2D303A;
    border-bottom: 5px solid #323746;
    padding-top: 50px;
    margin-bottom: 50px;
}

.menu-portfolio {
    float: left;
}

.menu-portfolio button {
    color: #767e9e;
    border: 1px solid #666d89;
    border-radius: 5px;
    background-color: transparent;
    line-height: 18px;
    font-size: 12px;
    margin-right: 7px;
    font-weight: 530;
    margin-bottom: 10px;
}

.menu-portfolio :hover {
    color: #DEDEDE;
    cursor: pointer;
}

.portfolio-images {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 67px;
    max-height: 616px;
    overflow-y: hidden;
}

.portfolio-images img {
    width: 220px;
    height: 187px;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.portfolio-images :nth-child(4n) {
    margin-right: 0px;
}

.employees {
    display: flex;
}

.member {
    margin-right: 20px;
}

.member p {
    font-size: 12px;
    line-height: 21px;
    margin-top: -6px;
}

.photo-employees {
    width: 300px;
    height: 300px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
}

.ellips {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #666d89;
    cursor: pointer;
}

.ellips a {
    text-decoration: none;
}

.feedback h2,
.feedback h3,
.feedback p {
    color: #F0D8D9;
}

.feedback {
    height: 648px;
    background-color: #F06C64;
    border-bottom: 6px solid #ea676b;
    padding-bottom: 20px;
}

.feedback h2 {
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: -0.15px;
    padding-top: 64px;
}

.feedback p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

.contact-and-form {
    display: flex;
}

form {
    display: inline-flex;
    flex-direction: column;
    width: 620px;
    margin-right: 20px;
}

input,
textarea {
    width: 619px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 35px;
    font-weight: 400;
    margin-bottom: 17px;
    border: none;
    text-indent: 15px;
}

input::placeholder,
textarea::placeholder {
    color: #f48c8f;
    font-family: 'Lato';
    text-align: justify;
}

input {
    height: 35px;
}

textarea {
    height: 198px;
    resize: none;
    padding-top: 10px;
}

.contact {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    margin-left: 15px;
}

.contact h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    margin: 0px;
}

.contact p {
    height: 87px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 8px;
    letter-spacing: -0.1px;
    hyphens: manual;
}

.information {
    margin-top: 25px;
    margin-left: 4px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: -12px;
    font-size: 12px;
    text-decoration: none;
    color: #f0d8d9;
    padding-left: 0px;
    padding-top: 20px;
    font-size: 8.5pt;
    letter-spacing: 0.35px;
}

.contact-info img {
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.contact-info span {
    margin-bottom: 10px;
}

.contact a {
    text-decoration: none;
    color: #F0D8D9;
    margin-left: 0px;
}

button[type="submit"] {
    height: 38px;
    width: 136px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #886a30;
    background-color: #fbc65f;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 18px;
    color: #666d89;
    font-size: 12px;
}

.footer p,
.footer .social {
    display: inline-flex;
}

.footer .ellips {
    background-color: #2d303a;
}